<div class="container">
	<section id="input">
		<h1 class="text-center">Building Teams For a Better World</h1>

		<%= @name %>

		<strong>Total Summoners (<%= @player_count %>)</strong>  *must be divisible by 5<br>
			<%= form_for @tournament do |t| %>
			  <%= t.submit "Random Values" %>
			<% end %>
		<div style="margin-top: 25px;">
			Solo Players (<%= @solo_players.flatten.count %>): <br/><%= @solo_players %> <br>
			<%= form_for @tournament do |t| %>
			  <%= t.text_field :solo_input, value: "eg, 123,456,689" %>
			  <%= t.submit "Update Solo Players" %>
			<% end %>
		</div>

		<div style="margin-top: 25px;">
			Duo Players (<%= @duo_players.flatten.count %>): <br/> <%= @duo_players %> <br>
			<%= form_for @tournament do |t| %>
			  <%= t.text_field :duo_input, value: "eg, 123,456, 689,124" %>
			  <%= t.submit "Update Duo Players" %>
			<% end %>
		</div>

		<div style="margin-top: 25px;">
			<%= form_for @tournament do |t| %>
			  <%= t.submit "Balance Teams" %>
		 *Settings @ low, freezes page for ~20s
			<% end %>
			<% if @duplicates.count > 0 %>
			<span style="color:red;">
				<strong>
					Unable to run with duplicate values: <%= @duplicates %>
				</strong>
			</span>
			<% end %>
		</div>

		<% if @balanced_teams.count > 0 %>
			<div style="margin-top: 25px;">
				<strong>Output</strong> <br/>
				<% i = 1 %>
				<% @balanced_teams.each do |x| %>
					Team <%= i %>: 
					[
					<% y = x.sort_by(&:to_i) %>
					<% y.each do |z| %>
						<% if @check.include?(z) %>
							<u><%= z %></u> 
						<% else %>
							<%= z %>
						<% end %>,
					<% end %> ]
					<i>(avg: <%= @team_totals[i-1] %>, Diff from mean: <%= @team_totals[i-1] - @team_mean %>)</i><br/>
					<% i = i += 1 %>
				<% end %>
				<br/>
			STD: <strong><%= @std %></strong>, Range: <strong><%= @team_totals.max - @team_totals.min %></strong>
			</div> <br/>
			Summoner mean: <strong><%= @team_mean/5 %></strong>, Team mean: <strong><%= @team_mean %></strong>
		<% end %>
	</section>

	<section id="raw">
		<h1 class="text-center">
			Comma Seperated Line Output
		</h1>

			<div class="col-md-12">
			<h5><u>Team 0:</u></h5> 
				elo
				<br/>
				name
				<br/>
				email	
				<br/>
				ign									
			</div>

		<% i = 0 %>
		<% @balanced_teams.each do |x| %>
			<div class="col-md-12">
			<h5><u>Team <%= i + 1 %>:</u></h5> 
				
				<% @list_elo[i].each do |x| %>
					<%= x %>,
				<% end %>
				<br/>
				<% @list_name[i].each do |x| %>
					<%= x %>,
				<% end %>
				<br/>
				<% @list_email[i].each do |x| %>
					<%= x %>,
				<% end %>	
				<br/>
				<% @list_ign[i].each do |x| %>
					<%= x %>,
				<% end %>									
			</div>

		<% i = i += 1 %>
		<% end %>


	</section>
</div>