<div class="container">
	<section id="input">
		<h1 class="text-center">Building Teams For a Better World</h1>

		<%= @name %>

		<strong>Total Summoners (<%= @player_count %>)</strong>  *must be divisible by 5<br>
			<%= form_for @tournament do |t| %>
			  <%= t.submit "Random Values" %>
			<% end %>
		<div style="margin-top: 25px;">
			Solo Players (<%= @solo_players.flatten.count %>): <br/><%= @solo_players %> <br>
			<%= form_for @tournament do |t| %>
			  <%= t.text_field :solo_input, value: "eg, 123,456,689" %>
			  <%= t.submit "Update Solo Players" %>
			<% end %>
			<p>*accepts comma seprated values</p>
		</div>

		<div style="margin-top: 25px;">
			Duo Players (<%= @duo_players.flatten.count %>): <br/> <%= @duo_players %> <br>
			<%= form_for @tournament do |t| %>
			  <%= t.text_field :duo_input, value: "eg, 123,456, 689,124" %>
			  <%= t.submit "Update Duo Players" %> 
			<% end %>
			<p>*accepts comma seprated values</p>
		</div>

		<div style="margin-top: 25px;">
			<%= form_for @tournament do |t| %>
			  <%= t.submit "Balance Teams" %>
		 *Settings @ low, freezes page for ~<span id="countdown">20</span>s
			<% end %>
			<% if @duplicates.count > 0 %>
			<span style="color:red;">
				<strong>
					Unable to run with duplicate values: <%= @duplicates %>
				</strong>
			</span>
			<% end %>
		</div>

		<% if @balanced_teams.count > 0 %>
			<div style="margin-top: 25px;">
				<strong>Output</strong> <br/>
				<% i = 1 %>
				<% @balanced_teams.each do |x| %>
					Team <%= i %>: 
					[
					<% y = x.sort_by(&:to_i) %>
					<% y.each do |z| %>
						<% if @check.include?(z) %>
							<u><%= z %></u> 
						<% else %>
							<%= z %>
						<% end %>,
					<% end %> ]
					<i>(avg: <%= @team_totals[i-1] %>, Diff from mean: <%= @team_totals[i-1] - @team_mean %>)</i><br/>
					<% i = i += 1 %>
				<% end %>
				<br/>
			STD: <strong><%= @std %></strong>, Range: <strong><%= @team_totals.max - @team_totals.min %></strong>
			</div> <br/>
			Summoner mean: <strong><%= @team_mean/5 %></strong>, Team mean: <strong><%= @team_mean %></strong>
		<% end %>
	</section>

	<section id="raw">
		<h1 class="text-center">
			<%= link_to 'Download CSV list', root_path(format: "csv") %>
		</h1>

	<h3>*User List is Updated via Command Line</h3>
<!-- 		<table class="table">
			<thead>
				<tr>
				  <th class="col-md-1">#</th>
				  <th class="col-md-3">Summoner</th>
				  <th class="col-md-2 text-center">ELO</th>
				  <th class="col-md-3 text-center">Name</th>
				  <th class="col-md-3 text-center">Email</th>
				</tr>
			</thead>
			<tbody>
			<% i = 1 %>
			<% @summoners.each do |x| %>			
				<tr>
					<td><%= i %></td>
					<td><%= x.ign %></td>
					<td><%= x.elo_op %></td>
					<td><%= x.name %></td>
					<td><%= x.email %></td>
				</tr>
			<% i += 1%>
			<% end %>
			</tbody>
		</table> -->
	</section>
</div>